/* Reset default browser styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
}

/* Header styles */
header {
  background-color: #000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Hero section styles */
.hero {
  position: relative;
  height: 500px; /* Adjust height as needed */
  overflow: hidden;
  background-image: url("./src/IMG-logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

/* Section styles */
.section {
  padding: 70px 0;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Image grid styles */
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image-grid img {
  width: 100%;
  height: auto;
}

/* Social media icons styles */
.social-media-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-media-icons a {
  margin-right: 10px;
}

/* Footer styles */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

footer ul li {
  margin-right: 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}
